h1,
h2,
h4,
h5,
h6,
input {
    font-family: "Numans", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    /* border: 2px solid blue */
}
h1::selection{
    color:rgb(0, 47, 255);
    /* border: 2px solid blue */
}
h2::selection{
  color:aquamarine;
}
h3::selection{
  color:#fffc00
}
p::selection{
  color:coral;
}
input::selection{
  color: rgba(0, 0, 0, 0.539);
}


html {

 
  -webkit-tap-highlight-color: transparent;
}

p,
h3 {
    font-family: "Numans", serif;
    font-weight: 400;
    font-style: normal;
  


}
body{
    animation: bodyanimation 0.5s ease-in;
  
   
}
@keyframes bodyanimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 10;
    }
}



  